@import 'nib'


$blueprint = #13B4F0
$white     = #fff

// ---
// Слайд с голосованием
// ---
.cloud-poll
  height 100%
  box-sizing border-box

  color $white
  text-align left

  position relative

  > .cloud-poll-layout
    font-family 'ProximaNova'
    height 100%
    display flex
    flex-flow row nowrap
    align-items center

    > .contenders
      height 100%
      flex 4 0

    > .summary
      flex 2 0

// --
// Полоска чарта голосования
// --
.cloud-poll .contenders
  position relative

  > .entry
    display flex
    flex-flow row nowrap
    align-items center

    position absolute
    top 0
    left 0
    line-height 1.222

    $lineFontSize = 20px

    > .name
      width 200px
      font-size $lineFontSize
      margin-right 9px
      text-align right
      flex-shrink 0
      white-space nowrap
      overflow hidden
      text-overflow ellipsis

    > .votes
      background-color $white
      height 6px
      border-radius 6px
      display inline-block

      width 20px

    > .votes-count
      display inline-block
      margin-left -9px
      font-size $lineFontSize
      border-radius 20px
      background-color $white
      color $blueprint
      padding-right 8px
      padding-left 8px
      min-width 10px
      height 25px
      line-height 26px
      text-align center
      font-weight 500
      display inline-block

// ---
// Уже проголосовали
// ---
.cloud-poll .already-voted
  text-align center
  max-width 140px
  margin 0 auto

  position relative

  > .balls-container
    .ball
      position absolute
      top 10px
      left 60px
      size 18px
      border-radius 18px
      background-color $white
      z-index 99999


  > .number
    font-size 80px
    font-weight 500
    margin-bottom 25px

    transform scale(1.0, 1.0)
    // transition 0.3s transform ease

    @keyframes flash-anim
      30%
        transform scale(1.5, 1.5)
      100%
        transform scale(1.0, 1.0)


    &.flash
      animation flash-anim 0.3s
      animation-timing-function ease


  > .label
    font-size 20px
    line-height 1.222

// ---
// Пометка «сделано на ficus»
// ---
.powered-by
  position absolute
  bottom 20px
  right 0px

  display flex
  flex-flow row nowrap
  align-items center

  > span
    font-size 16px
    font-family 'ProximaNova'
    font-weight 100
    margin-right 6px
    line-height 1.222
    padding-top 2px
    opacity 0.8

