.reveal
  // Слайд с голосованием
  section.naming-poll
    .poll-container
      height 580px
    .poll-total
      font-size 20px
      color #777

  .codehipsters
    font-weight bold

  h1.winner-name
    color #ffffff
    font-weight bold