.reveal
  .presentations-are-boring
    color #fff
    font-family 'ProximaNova'
    font-weight 100
  .poll-container
    height 600px

  .interactivity
    font-family 'ProximaNova'
    font-weight 100

  h1.winner-name
    color #ffffff
    font-weight bold
    font-family 'ProximaNova'