@font-face
  font-family: "ProximaNova"
  font-style: normal
  font-weight: normal
  src: local("ProximaNova"), local("ProximaNova-Reg"), url("../fonts/ProximaNova-Reg.otf") format("opentype")

@font-face
  font-family: "ProximaNova"
  font-style: normal
  font-weight: bold
  src: local("ProximaNova-Bold"), local("ProximaNova-Reg"), url("../fonts/ProximaNova-Bold.otf") format("opentype")