doctype html
head
  meta(name="viewport" content="width=device-width")

  link(rel="stylesheet" href="stylesheets/app.css")

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

  script.
    require('scripts/initialize');

body
  h1 Hello, homeless!