doctype html
html(lang='ru')
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    title Code Hipsters

    //-
    link(rel="stylesheet" href="stylesheets/app.css")

    script(src="javascripts/vendor.js")
    script(src="javascripts/app.js")

    script.
      require('scripts/initialize');

    script#message(type='text/template')    
      .message
        .message-icon-wrapper
          .message-icon
            img(src='message-icon.png', alt='Smiley face', height='34', width='34')
        .message-body-wrapper
          .message-body
            .message-header <%= header %>
            .message-content <%= message %>

  body
    .messages-container
        
    .speed-indicator
      .left-background
        .slow-bar
      .right-background
        .fast-bar
      .middle.show

    .reveal
      .slides
        section
          h1 Слайд 1
          h3 Подзаголовок
          p привет из слайда 1

        section
          h1 Слайд 2
          h3 Подзаголовок
          p привет из слайда 2