doctype html
html(lang='ru')
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    title Code Hipsters

    link(href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Roboto:400,100,300,500,700,900&subset=latin,cyrillic,cyrillic-ext' rel='stylesheet' type='text/css')

    //- Следующие файлы генерируются сборщиком Brunch
    link(rel="stylesheet" href="stylesheets/app-presenter.css")

    script(src="javascripts/vendor-presenter.js")
    script(src="javascripts/app-presenter.js")

    script.
      require('scripts/initialize');

    //- ---
    //- Клиентские шаблоны
    //- ---
    script#message(type='text/template')
      .message.min-height-message
        .message-icon-wrapper
          .message-icon
            <% if (type == "inapp") { %>
            img(src='message-icon.png', alt='Message icon', height='34', width='34')
            <% } %>
            <% if (type == "twitter") { %>
            img(src='twitter-icon.png', alt='Twitter icon', height='34', width='34')
            <% } %>

        .message-body-wrapper.min-height-message-body-wrapper
          .message-body
            .message-header <%= header %>
            .message-content <%= message %>

    //- Счетчик слушателей презентации
    script#participants-template(type='text/template')
      .meter
        .count-next 0
        .count 0
      .people

  body
    .messages-container

    .speed-indicator
      .left-background
        .slow-bar
      .right-background
        .fast-bar
      .middle.show

    .pdf-presentation
      canvas

    .participants-wrapper(style='display: none')
      .participants
        h4 Зайдите с мобильного или планшета
          h2.codehipsters(style='font-size: 55px; margin-top: 10px;') app.ficus.io
            .participants-container
              
    .poll-wrapper
      .naming-poll(style='display: none')
        h4 Пользовались ли вы сервисом Везёт Всем?
        h5.poll-total
        .poll-container
      .poll-results(style='display: none')
        h1.winner-name
