doctype html
html(lang='ru')
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    title Code Hipsters

    link(href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Roboto:400,100,300,500,700,900&subset=latin,cyrillic,cyrillic-ext' rel='stylesheet' type='text/css')

    //- Следующие файлы генерируются сборщиком Brunch
    link(rel="stylesheet" href="stylesheets/app-presenter.css")

    script(src="javascripts/vendor-presenter.js")
    script(src="javascripts/app-presenter.js")

    script.
      require('scripts/initialize');

    //- ---
    //- Клиентские шаблоны
    //- ---
    script#message(type='text/template')
      .message.min-height-message
        .message-icon-wrapper
          .message-icon
            <% if (type == "inapp") { %>
            img(src='message-icon.png', alt='Message icon', height='34', width='34')
            <% } %>
            <% if (type == "twitter") { %>
            img(src='twitter-icon.png', alt='Twitter icon', height='34', width='34')
            <% } %>

        .message-body-wrapper.min-height-message-body-wrapper
          .message-body
            .message-header <%= header %>
            .message-content <%= message %>

    //- Счетчик слушателей презентации
    script#participants-template(type='text/template')
      .meter
        .count-next 0
        .count 0
      .people

  body
    .messages-container

    .reveal
      .slides
        section.cloud-poll(data-slide-name='cloud-poll' data-background='#13B4F0')
          .cloud-poll-layout
            .contenders

              .entry
                .name Sass Scada Monitor
                .votes
                .votes-count 20

              .entry
                .name Русский для иностранцев
                .votes
                .votes-count 20

              .entry
                .name Sass Scada Monitor
                .votes
                .votes-count 20
            .summary
              .already-voted
                .number 43
                .label человека проголосовали

          .powered-by
            span powered by
            img(src='ficus-logo.svg')



        section(data-slide-name='participants')
          h4 Зайдите с мобильного или планшета
          h2.codehipsters app.ficus.io
          .participants-container

        section.naming-poll(data-slide-name='naming-poll')
          h4 Помогите выбрать название проекта
          h5.poll-total
          .poll-container

        section.poll-results(data-slide-name='poll-results')
          h1.winner-name


        section(data-slide-name='contacts')
          img(src='code-hipsters-logo.svg')
          h4 vk.com/codehipsters

